@charset "utf-8";

/* common.css */


/* 컨텐츠 : 너비 및 좌우 중앙정렬 */
.inner {
    width: 1460px;
    max-width: 1460px;
    margin: 0 auto;
}


/* 
공통으로 자주 사용하는 디자인 첨부
클래스명 통일 : c-이름
ex. c-titleWrap
*/




/* 공통 상단 제목 영역 ****************************************************/
.c-titleWrap {
    width: 100%;
    text-align: center;
    color: #008278;
}
.c-titleWrap .title-des {
    line-height: 30px;
    font-size: 24px;
}
.c-titleWrap .title-name {
    font-family: 'RiaSans-ExtraBold';
    line-height: 81px;
    font-size: 56px;
}
.c-titleWrap .des {
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 22px;
    line-height: 27px;
}


/* ************************************************** */





