@charset "utf-8";

/* brand_bdstory.html */

html,
body {
    width: 100%;
    height: 100%;
}

/******* MAIN **********************************************************/

main {
    background-color: #008278;
    width: 100%;
    height: 100%;
    max-width: 2560px;
    max-height: 1440px;
    margin: 0 auto;
    padding-top: 100px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    overflow: hidden;
}
main .gnb-lnb {
    padding: 100px 0;
}

main .gnb-lnb .gnb-name {
    font-family: 'RiaSans-ExtraBold';
    font-size: 60px;
    margin-bottom: 20px;
    line-height: 86px;
}
main .gnb-lnb .btn-wrap {}
main .gnb-lnb .btn-wrap .btn {
    color: #fff;
    display: inline-block;
    /* 버튼 크기 고정할 것이기 때문에 너비,높잇값 px고정 */
    width: 200px;
    height: 70px;
    padding-top: 22px;
    border: 1px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
}
main .gnb-lnb .btn-wrap .active {
    color: #008278;
    background-color: #fff;
    margin-right: 20px;
}
main .gnb-lnb .btn-wrap .btn:not(.active):hover {
    color: #008278;
    background-color: #fff;
}
main .lnb-name {
    width: 1200px;
    margin: 0 auto;
    text-shadow: 0 4px 4px rgba(0,0,0,0.2);
    padding-top: 30px;
    border-top: 2px solid #fff;
    font-family: 'RiaSans-ExtraBold';
    font-size: 100px;
    line-height: 144px;
}
main .bg-img {
    display: block;
    width: 700px;
    margin-left: 50%;
    transform: translateX(-50%);
}




/******* SECTION.SALADY-STORY **********************************************************/

.salady-story {
    margin: 100px auto;
}

.salady-story .title-wrap {
    margin-bottom: 150px;
    color: #008278;
    position: relative; /* .title-wrap .des의 기준 */
}

.salady-story .title-wrap .title {
    font-family: 'RiaSans-ExtraBold';
    font-size: 100px;
    line-height: 144px;
}

.salady-story .title-wrap .des {
    line-height: 1.4;
    font-size: 24px;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* $ 구현을 위한 세팅 */
/* 세팅 1. active 클래스 없는 기본값 - 숨겨진 상태로 배치 */

/* 
.salady-story .title-wrap .title {
    transform: translateX(-50px);
    opacity: 0;
}

.salady-story .title-wrap .des {
    transform: translateX(50px);
    opacity: 0;
}
 */

/* 세팅 2. active 클래스 붙었을 때 애니매이션 적용을 위한 값 */

/* 
.salady-story .title-wrap.active .title {
    opacity: 1;
    transform: translateX(0);
}

.salady-story .title-wrap.active .des {
    opacity: 1;
    transform: translateX(0);
}

 */

/* article : 공통 디자인 // nth-child(2n), nth-child(2n-1)로 짝,홀수 레이아웃만 바꾸기 */
.salady-story article {
    width: 100%;
    margin-bottom: 150px;
}

.salady-story article img {
    width: 881px;
    display: inline-block;
    border-radius: 10px;
}

.salady-story article .content {
    display: inline-block;
    width: 453px;
}

.salady-story article .content h3 {
    margin-bottom: 30px;
}

.salady-story article .content h3 .eng-title {
    font-family: 'RiaSans-ExtraBold';
    font-size: 50px;
    line-height: 72px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.salady-story article .content h3 .kor-title {
    font-size: 50px;
    font-weight: 800;
    line-height: 62px;
}

.salady-story article .content .des {
    font-size: 24px;
    line-height: 1.4;
}

/* $구현을 위한 세팅 */
/* 
.salady-story article:nth-child(odd) img {
    opacity: 0;
    margin-left: -50px;
}

.salady-story article:nth-child(even) img {
    opacity: 0;
    margin-right: -50px;
}

.salady-story article:nth-child(odd) .content {
    opacity: 0;
    margin-right: -50px;
}

.salady-story article:nth-child(even) .content {
    opacity: 0;
    margin-left: -50px;
}
 */
/* 레이아웃 변경 */
.salady-story article:nth-child(2n-1) {}
.salady-story article:nth-child(2n-1) img {
    float: right;
}
.salady-story article:nth-child(2n-1) .content {
    float: left;
}


.salady-story article:nth-child(2n) {}
.salady-story article:nth-child(2n) .content {
    float: right;
}
.salady-story article:nth-child(2n) .img {
    float: left;
}
