@charset "utf-8";

/* menu_mysalady.html */

/* SECTION.TOP-BANNER***************************************************** */
section.top-banner {
    width: 100%;
    max-width: 1920px;
    margin: 100px auto;
    overflow: hidden;
    background: url(../img/02_menu/02-2_banner-bg.jpg) no-repeat;
}

section.top-banner .title-wrap {
    color: #fff;
    padding: 119px 0;
}
section.top-banner .title-wrap h2 {
    font-family: 'RiaSans-ExtraBold';
    font-size: 52px;
    line-height: 75px;
    margin-bottom: 10px;
}
section.top-banner .title-wrap p {
    font-size: 22px;
    line-height: 27px;
}

/* SECTION.MYSALADY *************************************************************/

section.mysalady {}
.mysalady .content-wrap {}
.mysalady .content-wrap .stepBtn-wrap {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
.mysalady .content-wrap .stepBtn-wrap a {
    display: block;
    width: 328px;
    padding: 28px 50px;
    box-sizing: border-box;
    color: #5d5d5d;
    border: 1px solid #5d5d5d;
    border-radius: 80px;

    transition: all 0.3s;
}
.mysalady .content-wrap .stepBtn-wrap a .step-num {
    display: block;
    text-transform: uppercase;
    font-family: 'RiaSans-Regular';
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 4px;
}
.mysalady .content-wrap .stepBtn-wrap a .title {
    display: block;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
}

/* 활성화된 step 버튼 */
.mysalady .content-wrap .stepBtn-wrap a.on {
    color: #fff;
    border: 1px solid #008278;
    background-color: #008278;
}
/* hover 시 step 버튼 */
.mysalady .content-wrap .stepBtn-wrap a:hover {
    color: #fff;
    border: 1px solid #008278;
    background-color: #008278;
}



.mysalady .content-wrap .step-content {
    margin-bottom: 100px;
}
.mysalady .content-wrap .step-content .content-box {
    display: flex;
    justify-content: space-between;
    display: none;
}
.mysalady .content-wrap .step-content > .on {
    display: flex;
}
.mysalady .content-wrap .step-content {}
.mysalady .content-wrap .step-content .content-box .img-box {
    width: 755px;
    opacity: 0; /* $ - oneShow(), clickBtnShow() 위한 세팅 */
}
.content-box .img-box img {
    display: block;
    width: 100%;
    display: none;
}
.content-box .img-box img.on {
    display: block;
}

.mysalady .content-wrap .step-content .content-box .txt-wrap {
    width: 579px;
    padding-top: 60px;
    box-sizing: border-box;
}
.content-box .txt-wrap {
    opacity: 0; /* $ - oneShow(), clickBtnShow() 위한 세팅 */
}
.content-box .txt-wrap .txt-box {
    
}
.content-box .txt-wrap .txt-box .title-wrap {
    color: #008278;
    margin-bottom: 14px;
}
.content-box .txt-wrap .txt-box .title-wrap .title-step {
    font-family: 'RiaSans-Regular';
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.content-box .txt-wrap .txt-box .title-wrap .title {
    font-weight: 900;
    font-size: 50px;
    line-height: 62px;
}
.content-box .txt-wrap .txt-box .des {
    color: #333;
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 70px;
}
/* step4만 있음 : .notice-wrap */
.content-box .txt-wrap .txt-box .notice-wrap {}
.content-box .txt-wrap .txt-box .notice-wrap p {
    color: #333;
    font-size: 24px;
    line-height: 140%;
}


.content-box .txt-wrap .btn-wrap {
    max-width: 500px;
}
.content-box .txt-wrap .btn-wrap a {
    display: inline-block;
    padding: 16px 40px;
    border: 1px solid #5d5d5d;
    box-sizing: border-box;
    border-radius: 50px;
    color: #5d5d5d;
    font-size: 22px;
    line-height: 27px;
    margin: 0 20px 12px 0;

    transition: all 0.3s;
}
.content-box .txt-wrap .btn-wrap a.on {
    border: 1px solid #008278;
    color: #fff;
    background-color: #008278;
}
.content-box .txt-wrap .btn-wrap a:hover {
    border: 1px solid #008278;
    color: #fff;
    background-color: #008278;
}

