@charset "utf-8";

/* SECTION.NOTICE******************************************************** */

section.notice {
    margin-top: 200px;
    margin-bottom: 100px;
}
.notice .tabmenu {
    margin: 10px 0 50px;
    text-align: center;
}
.notice .tabmenu a {
    display: inline-block;
    padding: 12px 40px;
    box-sizing: border-box;
    border: 1px solid #5d5d5d;
    border-radius: 50px;
    color: #5d5d5d;
    font-size: 20px;
    line-height: 25px;

    transition: all 0.3s;
}
.notice .tabmenu a~a {
    margin-left: 30px;
}
.notice .tabmenu a.on, .notice .tabmenu a:hover {
    background-color: #008278;
    border: 1px solid #008278;
    color: #fff;
}


.notice .contents {}
.notice .contents .search {
    width: 480px;
    margin: 0 auto 30px;
}
.notice .contents .search form {
    display: flex;
    justify-content: space-between;
}
form select {
    border-bottom: 2px solid #5d5d5d;
    width: 140px;
    padding: 14px 0;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 22px;
}
form select option {}
form .input-wrap {
    width: 320px;
    padding: 14px 0;
    border-bottom: 2px solid #5d5d5d;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
form .input-wrap .txt-space {
    font-size: 18px;
    line-height: 22px;
    box-sizing: border-box;
}
form .input-wrap .txt-space::placeholder {
    color: #898989;
}
form .input-wrap .btn-submit {}
form .input-wrap .btn-submit[type="submit"] {
    display: block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: url(../../common-img/common_icon-search5d.png) no-repeat center/cover;
    font-size: 0;
}

.notice .contents .list {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}
.notice .contents .list table {
    width: 100%;
    border-top: 4px solid #008278;
}
.list table tr {}
.list table tr.top {
    background-color: #f5fdfc;
}
.list table tr th {
    padding: 22.5px 0;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 800;
    line-height: 25px;
    font-size: 18px;
    line-height: 22px;
    border-bottom: 1px solid #ddd;
}
.list table th, .list table td {
    border-left: 1px solid #ddd;
}
.list table th:first-child, .list table td:first-child {
    border-left: 0;
}
.list table tr td {
    padding: 14px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
}
.list table tr td a {
    color: #333;
}
.list table tr td a:hover {
    text-decoration: underline;
    color: #008278;
}


.notice .pager {
    margin-top: 30px;
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
}
.notice .pager .btn {
    display: block;
    width: 24px;
    height: 24px;
}

.notice .pager .btn img {
    display: block;
    width: 100%;
}

.notice .pager .btnNum-wrap {
    display: grid;
    grid-template-columns: repeat(5,30px);
    column-gap: 20px;
}
.notice .pager .btnNum-wrap .btn-num {
    color: #333;
    display: inline-block;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.notice .pager .btnNum-wrap .on, .notice .pager .btnNum-wrap .btn-num:hover  {
    color: #fff;
    border-radius: 20px;
    background-color: #008278;
}
