@charset "utf-8";

/* news.event_html */

/* SECTION.EVENT****************************************************** */

section.event {
    margin: 200px auto 100px;
}

/* .EVENT > .TABMENU */
.event .tabmenu {
    margin: 10px 0 50px;
    text-align: center;
}

.event .tabmenu a {
    display: inline-block;
    padding: 12px 40px;
    box-sizing: border-box;
    border: 1px solid #5d5d5d;
    border-radius: 50px;
    color: #5d5d5d;
    font-size: 20px;
    line-height: 25px;

    transition: all 0.3s;
}

.event .tabmenu a~a {
    margin-left: 30px;
}

.event .tabmenu a.on,
.event .tabmenu a:hover {
    background-color: #008278;
    border: 1px solid #008278;
    color: #fff;
}


/* .EVENT > .SLIDE-CONTAINER */
.event .slide-container {
    position: relative;
    /* .btn의 기준 */
    margin-bottom: 100px;
}

.event .slide-container .slide-viewer {
    width: 100%;
    overflow: hidden;
}

.event .slide-container .slide-viewer .slide-wrap {
    width: 400%;
    display: flex;
}

.event .slide-container .slide-viewer .slide-wrap .slide {
    width: 25%;
    display: grid;
    grid-template-columns: repeat(2, 705px);
    column-gap: 50px;
}

.slide .img-box {
    background-color: #efefef;
}

.slide .img-box img {
    display: block;
    width: 451px;
    margin: 0 auto;
}

.slide .txt-box {
    margin: 40px 0;
    position: relative;
    /* .right-btn의 기준 */
}

.slide .txt-box .txt-wrap .title-wrap {
    margin-bottom: 30px;
}

.slide .txt-box .txt-wrap .title-wrap .date {
    font-family: 'RiaSans-ExtraBold';
    color: #008278;
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 10px;
}

.slide .txt-box .txt-wrap .title-wrap .title {
    font-weight: 900;
    font-size: 50px;
    font-weight: 62px;
}

.slide .txt-box .txt-wrap .des {
    font-size: 24px;
    font-weight: 140%;
}

.slide .right-btn {
    display: inline-block;
    border: 1px solid #333;
    border-radius: 40px;
    padding: 18px 30px;
    box-sizing: border-box;
    color: #333;
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    bottom: 40px;

}

.slide .right-btn:hover {
    color: #fff;
    border: 1px solid #008278;
    background-color: #008278;
}

.slide .right-btn img {
    display: inline-block;
    width: 20px;
    padding: 2.5px 0;
    margin-left: 8px;
}

.event .slide-container .btn {
    width: 70px;
    height: 70px;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(-50%);
}

.event .slide-container .prev {
    position: absolute;
    left: -130px;
    top: 50%;
}

.event .slide-container .next {
    position: absolute;
    right: -130px;
    top: 50%;
}

.event .slide-container .btn {
    cursor: pointer;
} 

.event .slide-container .btn:hover {
    /* $로 hover했을 때 이미지 src 바꾸기(화살표흰색) */
    background-color: #008278;
    border-radius: 40px;
}

.event .slide-container .btn img {
    display: block;
    width: 100%;
}



/* .EVENT > .EVENT-LIST */
.event .event-list {}

.event .event-list .img-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-bottom: 50px;
}

.event .event-list .img-wrap .img-box {
    display: block;
    position: relative;
    background-color: #000;
    /* .txt의 기준 */
}

.event .event-list .img-wrap .img-box img {
    display: block;
    width: 100%;
}

.event .event-list .img-wrap .img-box .txt {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    margin-top: 160px;
    display: none;
}

.event .event-list .img-wrap .img-box .txt .date {
    font-family: 'RiaSans-ExtraBold';
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 10px;
}

.event .event-list .img-wrap .img-box .txt .title {
    font-weight: 900;
    font-size: 40px;
    font-weight: 50px;
}

.event .btn-wrap {
    text-align: center;
}

.event .btn-wrap .btn {
    margin-top: 50px;
    display: inline-block;
    border: 1px solid #333;
    border-radius: 40px;
    padding: 18px 30px;
    box-sizing: border-box;
    color: #333;
    font-size: 20px;
    line-height: 25px;
}

.event .btn-wrap .btn:hover {
    background-color: #008278;
    border: 1px solid #008278;
    color: #fff;
}

.event .btn-wrap .btn img {
    display: inline-block;
    width: 20px;
    padding: 2.5px 0;
    margin-left: 8px;
}